
.message {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.message .timestamp {
    display: flex;
    justify-content: center;
    color: #999;
    font-weight: 600;
    font-size: 12px;
    margin: 10px 0px;
    text-transform: uppercase;
}
  
.message .bubble-container {
    font-size: 14px;
    display: flex;
    align-items: center;
}
  
.message.start {
    margin-left: 24px;
}
.message.start.end {
    margin: 0;
}

.message.mine .bubble-container {
    justify-content: flex-end;
}
  
.message.start .bubble-container .bubble {
    border-top-left-radius: 20px;
}
  
.message.end  {
    margin: 0;
}
.message.end .bubble-container .bubble {
    border-bottom-left-radius: 20px;
}
  
.message.mine.start .bubble-container .bubble {
    margin-top: 10px;
    border-top-right-radius: 20px;
}
  
.message.mine.end .bubble-container .bubble {
    border-bottom-right-radius: 20px;
    margin-bottom: 10px;
}
  
.message .bubble-container .bubble {
    color: white !important;
    margin: 1px 0px;
    background-color: #373737 ;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 75%;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
  
.message.mine .bubble-container .bubble {
    background: #0099ff;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.message-group-name {
    color: rgba(255, 255, 255, .5);
    margin-left: 12px;
    font-size: 14px;

}
.message.start.end .message-group-name{
    margin-left: 37px;
}