.password-manager-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-change-password {
    width: 100%;
}

.form-change-password-item-input {
    border: none !important;
    padding: 4px 11px !important;
    background-color: #3a3b3c;

}
.form-change-password-item-input> span.ant-input-suffix > span{
    color: white;
}
.ant-form-item-has-error > div > div > div > .form-change-password-item-input >input{
    background-color: #3a3b3c;
    color: white;
} 
.ant-form-item-has-error > div > div > div > .form-change-password-item-input {
    background-color: #3a3b3c;
    color: white;
}

.ant-form-item-has-error > div > div > div > .form-change-password-item-input:hover  {
    background-color: #3a3b3c;
    color: white;
}
.ant-form-item-has-error > div > div > div > .form-change-password-item-input >input:hover {
    background-color: #3a3b3c;
    color: white;
}