.password-manager-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-change-password {
    width: 100%;
}
.update-info-form-input-item.input-password {
    padding: 4px 11px;

}
.update-info-form-input-item.input-password, 
.update-info-form-input-item.input-password>input,
.ant-form-item-has-error .update-info-form-input-item.input-password:hover,
.ant-form-item-has-error .update-info-form-input-item.input-password>input:hover  {
    border: none;
    background-color: #3a3b3c;
    color: white;
}
.update-info-form-input-item.input-password>span.ant-input-suffix>span.anticon.anticon-eye-invisible.ant-input-password-icon, 
.update-info-form-input-item.input-password>span.ant-input-suffix>span.anticon.anticon-eye.ant-input-password-icon,
.ant-modal-confirm-body .ant-modal-confirm-title,
.ant-modal-confirm-body .ant-modal-confirm-content {
    color: white;
}
.ant-modal.ant-modal-confirm.ant-modal-confirm-success {
    top: calc(50vh - 200px)
}
.ant-modal.ant-modal-confirm.ant-modal-confirm-success > .ant-modal-content {
    height: 200px;
    background-color: #43484e;
}