.ant-modal-content {
    min-height: 600px;
    background-color: #18191a;
    color: white;
}


.ant-modal-header {
   background-color:  #242526;
   border-bottom: 1px solid #3e4042;

}

div#rcDialogTitle0 {
    color: white;
}

.contact-modals {
    display: flex;
}

.ant-tabs-tab {
    background-color: #3a3b3c !important;
    color: white;
    border: 1px solid #3e4042 !important;
}

.ant-tabs-tab.ant-tabs-tab-active  {
    background-color: #1890ff !important;
}
.ant-tabs-tab.ant-tabs-tab-active > div{
    color: white !important;
}
.ant-tabs-nav {
    margin: 0 !important;
}
.ant-tabs-nav::before {
    border-bottom: 1px solid #3e4042 !important;
}
 
span.anticon.anticon-close.ant-modal-close-icon  {
    color: white !important;
}

sup.ant-scroll-number.ant-badge-count.ant-badge-count-sm {
    z-index: 1;
    padding: 0 !important;
}

.container-contact-list-user {
    width: 70%;
    margin-left: 24px;
    margin-top: 24px;
}

.btn-confirm-req {
    border-radius: 6px;
    border: 0;

}

.btn-delete-req {
    border-radius: 6px;
    background-color: #3a3b3c;
    border: 0;
    margin-left: 5px;
}

.btn-delete-req:hover {
    background-color: #666769;
}