.nav-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 75px);
  margin: auto;
  padding: 0 !important;
  background: #242526;


}

.section-layout {
  background: #242526;
  border-bottom: 1px solid #3e4042;
}

.nav-menu-left {
  display: flex;
  flex-direction: row;
}

.nav-logo {
  height: 48px;
  width: 48px;
  margin: 0px 16px 0 0;
  background-image: url('http://chatvia-dark.react.themesbrand.com/static/media/logo.de6401ef.svg') ;  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.nav-search {
  height: 40px;
  width: 25vw;
  font-size: 20px;
  background-color: #3a3b3c;
  outline: none;
  border: 0;
  color: #95999d;
  margin-top: 3px;
}

.nav-search > span {
  font-size: 20px;
}

.nav-search > input {
  background-color: #3a3b3c;
  color: #95999d;
  font-size: 18px;

}

.nav-menu-right {
  display: flex;
  list-style: none;
  color: #fff;
  font-size: 22px;
  margin-bottom: 0;

}

.nav-menu-right  > li {
  margin-left: 10px ;
}

.nav-menu-right-item {
  font-size: 18px;
  padding: 10px;
  border: 0;
  border-radius: 100%;
  background-color: #3a3b3c;
  cursor: pointer;
}

.nav-menu-right-item-avatar {
  margin-right: 10px;
}
.nav-menu-right-item-avatar > span {
  margin-right: 5px;
  color:white;
  font-size: 18px;
}

@media (max-width: 900px) {
  .nav-search {
    width: 250px;
  } 
}

@media (max-width: 770px) {
  .nav-menu-right-item-avatar {
    display: none;
  }
}

@media (max-width: 620px) {
  .nav-menu-right {
    padding: 0;
  }
  .nav-search {
    width: 250px;
  } 
  .nav-layout {
    width: 100% ; 
  }
  .nav-logo {
    margin: 0;
  }
}

@media (max-width: 530px) {
  .nav-search {
    margin-left: 4px;
    width: 35vw;
  }
  
}

@media (max-width: 330px) {
  .nav-search {
    display: none;
  }
}