
.form-login-item-input {
    padding: 10px 15px;

    background-color: white ;
    color: #717171 ;
    height: 45px;
    border-radius: 3px;
    border: 1px solid #dbdbdb; 
    font-size: 15px;
} 
